[Desktop Entry]
Type=Application
Name=Trunk Recorder Pro
Comment=Record P25, SmartNet, DMR and NXDN trunked systems and conventional channels from SDRs
Exec=trunk-pro
Icon=trunk-pro
Terminal=false
Categories=HamRadio;Audio;Network;
Keywords=P25;SmartNet;DMR;NXDN;SDR;RTL-SDR;scanner;trunking;
