[Desktop Entry]
Type=Application
Name=Trunk Recorder Lite
Comment=Record a P25 trunked radio system from RTL-SDRs
Exec=trunk-lite
Icon=trunk-lite
Terminal=false
Categories=HamRadio;Audio;Network;
Keywords=P25;SDR;RTL-SDR;scanner;trunking;
